**Some info about dataset columns I found**

* lat : String variable, Latitude
* lng: String variable, Longitude
* desc: String variable, Description of the Emergency Call
* zip: String variable, Zipcode
* title: String variable, Title
* timeStamp: String variable, YYYY-MM-DD HH:MM:SS
* twp: String variable, Township
* addr: String variable, Address
* e: String variable, Dummy variable (always 1)

Import the required libraries

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Load data

In [4]:
df = pd.read_csv("data\911.csv")

Data overview

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 663522 entries, 0 to 663521
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   lat        663522 non-null  float64
 1   lng        663522 non-null  float64
 2   desc       663522 non-null  object
 3   zip        583323 non-null  float64
 4   title      663522 non-null  object
 5   timeStamp  663522 non-null  object
 6   twp        663229 non-null  object
 7   addr       663522 non-null  object
 8   e          663522 non-null  int64
dtypes: float64(3), int64(1), object(5)
memory usage: 45.6+ MB

In [6]:
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

Detect duplicates

In [7]:
df.duplicated().sum()

np.int64(240)

Remove duplicates and continue work without it

In [8]:
df = df.drop_duplicates(inplace=False)
df.duplicated().sum()

np.int64(0)

Detection and further processing of missing values

In [9]:
df.isnull().sum()

lat              0
lng              0
desc             0
zip          80165
title            0
timeStamp        0
twp            293
addr             0
e                0
dtype: int64

How many entries are missing 'zip' and 'twp'?

In [10]:
df[df['zip'].isnull() & df['twp'].isnull()]['e'].sum()

np.int64(169)

In [139]:
df['zip'].value_counts().head(10)

zip
19401.0    45583
19464.0    43900
19403.0    34874
19446.0    32257
19406.0    22458
19002.0    21062
19468.0    18934
19046.0    17875
19454.0    17658
19090.0    17371
Name: count, dtype: int64

In [149]:
df[df['zip'] == 19401.0]['twp'].value_counts().head(5)

twp
NORRISTOWN       35307
EAST NORRITON     9546
PLYMOUTH           323
WEST NORRITON      285
BRIDGEPORT          38
Name: count, dtype: int64

In [153]:
df['addr'].nunique()

41292

In [169]:
(
    df.groupby("addr")["twp"]
    .nunique()
    .reset_index(name="uniqueTwpNum")
    .sort_values(by="uniqueTwpNum", ascending=False)
    .head()
)

                                   addr  uniqueTwpNum
25161  NO LOCATION - NEIGHBORING COUNTY            50
20938                              MAIN            32
6428                          CHURCH RD            24
36225                  TOWNSHIP LINE RD            20
20952                           MAIN ST            19